
configparser==7.0.0
debugpy==1.8.1
Django==5.0.6
django-cors-headers==4.4.0
djangorestframework==3.15.2

gitdb==4.0.11
gunicorn

ipython==8.24.0
jaxlib==0.4.30
joblib==1.4.2
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pandas==2.2.2
parso==0.8.4
plotly==5.22.0
whitenoise[brotli]

pyparsing==3.1.2

python-dateutil==2.9.0.post0

requests==2.31.0

scikit-learn==1.5.1
scipy==1.13.1


whitenoise==6.7.0
