{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article List - Green Data Center</title>
    <link rel="icon" type="image/png" href="{% static 'images/ecologie.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .article-list {
            padding: 30px 0;
        }
        .card {
            margin-bottom: 20px;
        }
        .navbar {
            background-color: #f0f0f0;
            padding: 0.5rem 1rem;
        }
        .navbar-title {
            font-size: 1.2rem;
            color: #333333;
        }
        .navbar-brand img {
            height: 30px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Company Logo">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq' %}">Support Page</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="article-list">
        <div class="container">
            <h1>Energy and Data Trends</h1><br>
            <div class="row">
                {% for article in articles %}
                <div class="col-md-4">
                    <div class="card">
                        {% if article.image %}
                            <img src="{% static article.image.url %}" class="card-img-top" alt="{{ article.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.description }}</p>
                            <a href="{% url 'monitoring:article_details' article.id %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <p>No articles available.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
